/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-search {
        padding: 15px 0px;
    }
    body{
        overflow-x: hidden !important;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 10px;
        padding-left: 10px;
    }
    .navbar {
        padding: 30px 0px 30px 50px;
    }
    .banner_section {
        padding: 0px 0px 155px 0px;
    }
    .banner_taital_main {
        padding-left: 50px;
        padding-top: 40px;
    }
    .banner_taital {
        font-size: 50px;
    }
    .video_bt {
        padding-top: 30px;
        padding-left: 50px;
    }
    .box_main {
        padding: 45px 0px;
    }
    .services_text {
        font-size: 20px;
    }
    .prep_text {
        padding: 190px 20px 20px 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header_section {
        background-size: cover;
    }
    .logo {
        width: auto;
    }
    .navbar-expand-lg {
        padding: 15px 0px;
    }
    .navbar-brand {
        width: 60%;
        padding: 0px;
    }
    .navbar {
        padding: 10px 0px;
    }
    body.off{
        filter: blur(0);
    }
    .navbar-toggler {
        background-color: #fff;
        border: 1px solid #fff;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 5px 5px 0px 5px;
        margin: 0px 0px 0px 0px;
        width: 45%;
        margin: 0 auto;
        text-align: center;
    }
    .form-group {
        margin-bottom: 1rem;
        display: none;
    }
    .banner_section {
        padding: 30px 0px;
        background-size: 100% 100%;
    }
    .banner_taital {
        font-size: 40px;
        line-height: normal;
    }
    .banner_taital_main {
        padding-left: 0px;
        padding-top: 50px;
    }
    .video_bt {
        padding-top: 30px;
    }
    .services_section {
        padding-top: 90px;
    }
    .box_main {
        width: 250px;
        padding: 60px 0px;
        margin: 0 auto;
        margin-top: 30px;
    }
    .blog_section {
        height: 380px;
    }
    .readmore_bt_1 a {
        color: #252525;
        background-color: #fefefe;
    }
    .blog_section_2 {
        padding-top: 30PX;
    }
    .blog_box {
        margin-top: 30px;
    }
    .prep_text {
        font-size: 20px;
        padding: 90px 20px 20px 20px;
    }
    .mail_section_1 {
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    
    .logo {
        width: auto;
    }
    body.off{
        filter: blur(0);
    }
    .navbar-expand-lg {
        padding: 15px 0px;
    }
    .navbar-brand {
        width: 60%;
        padding: 0px;
    }
    .navbar {
        padding: 10px 0px;
    }
    .navbar-toggler {
        background-color: #fff;
        border: 1px solid #fff;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 5px 5px 0px 5px;
        margin: 0px 0px 0px 0px;
        width: 45%;
        margin: 0 auto;
        text-align: center;
    }
    .form-group {
        margin-bottom: 1rem;
        display: none;
    }
    .banner_section {
        padding: 30px 0px;
        background-size: 100% 100%;
    }
    .banner_taital {
        font-size: 26px;
        line-height: normal;
    }
    .banner_taital_main {
        padding-left: 0px;
        padding-top: 0px;
    }
    .video_bt {
        padding-top: 30px;
    }
    .social_icon {
        display: none;
    }
    .services_section {
        padding-top: 90px;
    }
    .box_main {
        width: 250px;
        padding: 60px 0px;
        margin: 0 auto;
        margin-top: 30px;
    }
    .portfolio_section_2 {
        padding-top: 0px;
    }
    .blog_section {
        height: auto;
        margin-bottom: 0px;
        padding-bottom: 90px;
    }
    .readmore_bt_1 a {
        color: #252525;
        background-color: #fefefe;
    }
    .blog_section_2 {
        padding-top: 30PX;
    }
    .blog_box {
        margin-top: 30px;
    }
    .mail_section_1 {
        width: 100%;
    }
    .project_main {
        display: block;
    }
    .hire_text {
        font-size: 20px;
        text-align: center;
    }
    .callnow_bt {
        width: 200px;
        float: none;
        text-align: center;
        margin: 0 auto;
        padding-top: 20px;
    }
}

@media (max-width: 575px) {
    .logo {
        width: auto;
    }
    .navbar-expand-lg {
        padding: 15px 0px;
    }
    .navbar-brand {
        width: 60%;
        padding: 0px;
    }
    .navbar {
        padding: 10px 0px;
    }
    .text h1{
    font-size: 25px;
    font-weight: 600;
}
body.off{
    filter: blur(0);
}
    .navbar-toggler {
        background-color: #fff;
        border: 1px solid #fff;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 5px 5px 0px 5px;
        margin: 0px 0px 0px 0px;
        width: 45%;
        margin: 0 auto;
        text-align: center;
    }
    .form-group {
        margin-bottom: 1rem;
        display: none;
    }
    .banner_section {
        padding: 30px 0px;
        background-size: 100% 100%;
    }
    .banner_taital {
        font-size: 26px;
        line-height: normal;
    }
    .banner_taital_main {
        padding-left: 0px;
        padding-top: 0px;
    }
    .video_bt {
        padding-top: 30px;
    }
    .social_icon {
        display: none;
    }
    .services_section {
        padding-top: 90px;
    }
    .box_main {
        width: 290px;
        padding: 80px 0px;
        margin: 0 auto;
        margin-top: 30px;
    }
    .portfolio_section_2 {
        padding-top: 0px;
    }
    .blog_section {
        height: auto;
        margin-bottom: 0px;
        padding-bottom: 90px;
    }
    .readmore_bt_1 a {
        color: #252525;
        background-color: #fefefe;
    }
    .blog_section_2 {
        padding-top: 30PX;
    }
    .blog_box {
        margin-top: 30px;
    }
    .mail_section_1 {
        width: 100%;
    }
    .project_main {
        display: block;
    }
    .hire_text {
        font-size: 20px;
        text-align: center;
    }
    .callnow_bt {
        width: 200px;
        float: none;
        text-align: center;
        margin: 0 auto;
        padding-top: 20px;
    }
}
.slide-wrapper {
  padding: 60px 10px;
  background: linear-gradient(90deg, #f4f6fa 60%, #eaf0fb 100%);
  border-radius: 18px;
  box-shadow: 0 4px 24px rgba(44, 62, 80, 0.08);
  margin-bottom: 40px;
}

.intro-text h2 {
  font-size: 2.2rem;
  color: #2c3e50;
  font-weight: 600;
}

.intro-text h1 {
  font-size: 2.3rem;
  color: #1a1a1a;
  font-weight: 700;
  margin-bottom: 10px;
}

.intro-text p {
  font-size: 1.3rem;
  color: #444;
  margin-bottom: 24px;
}

.intro-text .highlight {
  color: #007bff;
  font-weight: 600;
}

.buttons a {
  margin-right: 12px;
  margin-bottom: 12px;
}

.social-links {
  margin-top: 18px;
}

.social-links a {
  color: #2c3e50;
  margin-right: 12px;
  font-size: 1.6rem;
}

.hero-img {
  max-width: 270px;
  width: 90%;
}

/* Responsive Design */
@media (max-width: 767.98px) {
  .slide-wrapper {
    padding: 40px 15px;
    text-align: center;
  }

  .intro-text h1 {
    font-size: 2rem;
  }

  .intro-text h2 {
    font-size: 1.6rem;
  }

  .intro-text p {
    font-size: 1.1rem;
  }

  .buttons a {
    display: block;
    margin: 10px auto;
  }

  .hero-img {
    margin-top: 20px;
  }
  .services_section{
    margin-top: 55rem;
    padding: 0 !important;
  }
}
.portfolio_section {
  padding: 60px 0;
  background-color: #f8f9fa;
}

.portfolio_taital {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: #1a1a1a;
}

.portfolio_taital_1 {
  color: #007bff;
}

.container_main {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}

.image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.4s;
  border-radius: 10px;
}

.container_main:hover .overlay {
  opacity: 1;
}

.text {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn_main .buy_bt a {
  background: #5f5f5f63;
  color: #fff;
  padding: 12px 30x;
  border-radius: 30px;
  text-decoration: none;
  font-size: 0.7rem;
  transition: background 0.3s;
}

.btn_main .buy_bt a:hover {
  background: #5f5f5f8b;
}

.seemore_bt a {
  background: #5f5f5f;
  color: white;
  padding: 12px 35px;
  font-size: 1.1rem;
  text-decoration: none;
  border-radius: 30px;
  display: inline-block;
  transition: 0.3s;
}

.seemore_bt a:hover {
  background: #0056b3;
}

/* Responsive Adjustments */
@media (max-width: 767.98px) {
  .portfolio_taital {
    font-size: 2rem;
  }

  .text {
    font-size: 1rem;
  }

  .btn_main .buy_bt a {
    font-size: 0.9rem;
    padding: 6px 16px;
  }

  .seemore_bt a {
    font-size: 1rem;
    padding: 10px 24px;
  }
}
